{% extends 'base.html' %}

{% block content %}

	<h1>About</h1>
	<p><strong>Pow Wow</strong> provides a safe and enjoyable environment</p>
	<p>where like-minded people can meet up and enjoy group activities together.</p>
	</br>
	<p>If you are experiencing site problems, do not hesitate to contact us through</p>
	<p><a href="{% url 'contact' %}">this link</a>. Thank You!</p>

{% endblock %}