{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="span3 well" style="background-color:#424242; border-color:#424242; color:EFEFEF">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="/static/assets/{{user_info.profile_pic}}" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 style="color: EFEFEF; font-family: Montserrat, sans-serif;">{{user.get_full_name}}</h3>
        <a href="" class="btn btn-primary">hello</a>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#333333">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" style="color:EFEFEF">More About {{user.get_full_name}}</h4>
                    </div>
                <div class="modal-body" style="background-color:#424242">
                    <center>
                    <img src="/static/assets/{{user_info.profile_pic}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading" style="color: EFEFEF; font-family: Montserrat, sans-serif;">{{user.get_full_name}} <small>{{user_info.location}}</small></h3>
                    <span><strong style="color:EFEFEF">Interests: </strong></span>
                    {% for items in request.user.interests.all %} 
                        <span class="label label-warning">{{items}}</span>
                    {% endfor %}
                    </center>
                    <hr>
                    <center>
                    <p class="text-left" style="color:EFEFEF"><strong style="color:EFEFEF"><u>Bio</u> </strong><br>{{user_info.bio}}</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer" style="background-color:#333333">
                    
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}