{% extends 'base.html' %}

{% block content %}

	<p>This is {{user_name}}'s profile </p>
	
	<form action="{% url 'friendship:request_friendship' user_info.user.id %}" method="post">{% csrf_token %}
	    <input type="submit" value="accept" />
	</form>
	
{% endblock %}