{% extends 'base.html' %}


{% block content %}
  
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
    	    <a href="{% url 'event:join_group' group_info.id %}" class="follow_btn hidden-xs">Follow</a>
		</div>
        <div class="col-md-8  col-xs-12">
           <img src="/static/assets/{{group_info.thumbnail}}" class="img-thumbnail picture hidden-xs" />
           <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
           <div class="header">
                <h1>{{group_info.title}}</h1>
                <h4><Strong>Organiser: </Strong><a href="{% url 'users' group_info.user.id %}">{{group_info.user.name}}</a></h4>
                <span>{{group_info.about}}</span>
           </div>
        </div>
    </div>   
    
	<div class="row nav">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-users fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i>{% if average_rating == 5 %}<p> <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></p>{% endif %}
    {% if average_rating == 4 %}<p> <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i></p>{% endif %}
    {% if average_rating == 3 %}<p> <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i></p>{% endif %}
    {% if average_rating == 2 %}<p> <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i></p>{% endif %}
    {% if average_rating == 1 %}<p> <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i></p>{% endif %}
    {% if average_rating == 0 %}<p> <i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i></p>{% endif %}
   </i> </div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-comments fa-lg"></i> 26</div>
        </div>
    </div>
</div>

            <!-- Blog Entries Column -->
            <div class="col-md-8">        
                <!-- First Blog Post -->
                <h2>
                   Upcoming Events
                </h2>
                {% if events %}
                
                {% for event in events %}
                <p class="lead">
                    <h4>{{event.title}}</h4>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{event.start_date_and_time}}</p>
                <hr>
                <img  src="/static/assets/{{event.thumbnail}}" style="width: 200px; height: 200px">
                <hr>
                <p>{{event.about|truncatewords:30}}</p>

                <hr>
                {% endfor %}
                
                {% else %}
                   <h4>No upcoming events...</h4>
                {% endif %}
                

                
            </div>


            

        </div>
        <!-- /.row -->

        <hr>

    

   
{% endblock %}