{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-8 blog-main">
	<form action="{% url 'event:group_review' group_info.id %}" method="post">{% csrf_token %}
		{{form|crispy}}
		<button class="btn btn-default" type="submit" value="Create">Create</button>
	</form>
</div> 
  
{% endblock %} 