{% extends 'base.html' %}


{% block content %}
  
    <h3> {{event.title}} </h3>
    <p> date created <small> {{event.pub_date}} </small></p>
    <p> {{event.about}}<p>
    {% if event.thumbnail %}<img src="/static/assets/{{event.thumbnail}}"/>{% endif %}
    <p> location: {{event.location}}, {{event.address}}</p>
    <p> time: {{event.start_date_and_time}} </p>
    <p> People interested in: {{event.activity}}</p>

{% endblock %}