{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
  
  <h2>Create Event</h2>
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  {% for field in form %}
    {{field.error}}

  {% endfor %}
  
  <form action="{% url 'event:create_event' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
  {{ wizard.management_form }} <!-- always put this in with wizard form-->
  {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
          {{ form|as_bootstrap }}
      {% endfor %}
  {% else %}
      {{ wizard.form }}
  {% endif %}
  </table>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">"first step"</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">"prev step"</button>
  {% endif %}
  
  
  <input type="submit" value="Submit" />
    
  </form>
  
{% endblock %} 