{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <div class="row">
    
    {% for event in events %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span><img class="img-circle" width="100" height="100" src="/static/assets/{{event.thumbnail}}"/></span>
                </div>
                <div class="info">
                    <h4 class="text-center">{{event.title}}</h4>
                    <p>{{event.about}}</p>
                    <a href="{% url 'event:event' event.id event.title %}" class="btn">See event</a>
                </div>
            </div>
        </div>
        {% endfor %}
	</div>
</div>
{% endblock %}
