{% extends 'base.html' %}
{% block content %}


<form action="/login/" method="post" class="form-signin">{% csrf_token %}
	<h2 class="form-signin-heading">Please sign in</h2>
		<label for="username">Email:</label>
		<input type="text" name="email" value="" id="email" class="form-control">
		<label for="password">Password:</label>
		<input type="password" name="password" value="" id="password" class="form-control">
		<button class="btn btn-lg btn-primary btn-block" type="submit" type="submit" value="login">Sign in</button>
</form>
    
{% endblock %}