{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Pow Wow {% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="submit" value="Create account">
</form>
</div>
{% endblock %}