{% load static %} <!-- load static folder -->
<DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} title {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'assets/bootstrap-rating-input/build/bootstrap-rating-input.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/profile_pic_files" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/events.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/recipients.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/group&events.css" %}">
    <script src="{% static 'assets/js/recipient.js' %}" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {{ form.media }}
</head>


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#333333;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-family: Pacifico, cursive; font-size: 30px; color: F38630;">Pow Wow</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:EFEFEF; background-color:#333333;">Create<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header" >Event</li>
                <li><a href="{% url "event:create_event" %}">Create an Event</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Group</li>
                <li><a href="{% url 'event:create_group' %}">Create a Group</a></li>
                <li><a href="#">Create a Group Event</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:EFEFEF">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    {% endblock %}


<body style="background-color:#EFEFEF">

<div style="padding-top: 60px;">

{% for message in messages %}
	<p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="text-align: center">{{ message }}</p>
{% endfor %}

<div class="container">
{% block content %}
{% endblock %}
</div> <!-- container -->

</div> <!-- top padding -->

    
</body>
</html>