{% extends 'base.html' %}

{% block content %}

{% if friend_requests %}
	{% for requests in friend_requests %}
		{{ requests.from_user.get_full_name }}
		<form action="{% url 'friendship:accept_friendship' requests.pk %}" method="post">
		{% csrf_token %}
		<input type="submit" value="accept" />
		</form>
		<form action="{% url 'friendship:reject_friendship' requests.pk %}" method="post">
		{% csrf_token %}
		<input type="submit" value="reject" />
		</form>
		
	{% endfor %}
{% else %}
	<p>no requests</p>
{% endif %}
    

{% endblock %}